#bg-video{
  position:fixed;
  x-index:-1;
}
@media (min-aspect-ratio:16/9){
  #bg-video{
    width:100%;
    height:auto;
  }
}
@media (max-aspect-ratio:16/9){
  #bg-video{
    width:auto;
    height:100%;
  }
}
.navbar .navbar-nav .nav-item a{
  color:#fff;
  margin-right:50px;
  margin-left:55px;
}
.navbar .navbar-nav .nav-item a:hover{
  background-color: rgba(4,34,142,0.6);
  border-radius:15px;
}
.navbar .navbar-brand{
  margin:0 auto;
  padding-left: 20px;
}
.card-img-top{
  max-width:100%;
  height:auto;
}
/* middle section */
/* .banner{
  position:absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: #fff;
}
.btn{
  display: inline-block;
  margin-top: 5px;
  background: transparent;
  border: 0;
  text-transform: uppercase;
  border:1px solid #fff;
  padding: 10px 25px;
  color: #fff;
  border-radius: 25px;
}
.btn:hover{
  color: orange;
} */
